/* @font-face {
  font-family: 'Ships Whistle';
  src: url('fonts/ShipsWhistle-Bold.woff2') format('woff2');
  font-weight: bold;
} */

#app {
  margin: 0 auto;
  margin-top: 100px;
  width: 800px;
  height: 600px;
}

#app > * {
  max-width: 100%;
}
